<div class="announcements">
  <p>
    The maintainer of this website has a
    <a
      href="https://open.spotify.com/playlist/2L8Gm7T2aJvRj1ih03UeKv"
      target="_blank"
      >Spotify Coding Playlist of their Lo-fi Hip Hop beats</a
    >!
  </p>
</div>
<script>
  const cascadiaDate = new Date(2022, 8, 30);
  if (new Date().getTime() < cascadiaDate.getTime()) {
    let announcementsText = document.querySelector(".announcements > p");
    if (announcementsText) {
      announcementsText.innerHTML = `The maintainer of this website is <a href="https://2022.cascadiajs.com/tickets/79" target="_blank">attending and emcee-ing CascadiaJS</a>, and has a <a href="https://open.spotify.com/playlist/2L8Gm7T2aJvRj1ih03UeKv" target="_blank">Spotify Coding Playlist of their Lo-fi Hip Hop beats</a>!`;
    }
  }
</script>
