<hr />

<footer>
  <div>
    Made by
    <a target="_blank" rel="noopener" href="https://aaronthedev.com"
      >Aaron Turner (torch2424)</a
    >
    and some
    <a
      target="_blank"
      rel="noopener"
      href="https://github.com/torch2424/wasm-by-example/graphs/contributors"
      >amazing contributors</a
    >.
  </div>
  <div class="flex-row">
    <div><a href="/about.html">About</a></div>
    <div>
      <a href="/additional-resources.html">Additional Resources</a>
    </div>
    <div>
      <a
        target="_blank"
        rel="noopener"
        href="https://github.com/torch2424/wasm-by-example"
        >Source Code (Github)</a
      >
    </div>
    <div>
      <a
        target="_blank"
        rel="noopener"
        href="https://creativecommons.org/licenses/by/4.0/"
        >License</a
      >
    </div>
  </div>
</footer>
