<div class="flex-column">
  <a href="/" class="flex-row title">
    <img
      src="/Web_Assembly_Logo.svg"
      width="65px"
      height="65px"
      alt="WebAssembly Logo"
    />
    <h1>Wasm By Example</h1>
  </a>
  <div class="language-picker flex-row">
    <div class="language-title">Language:</div>
    <form>
      <select
        id="programmingLanguage"
        aria-label="Programming Language"
        onchange="submitSettingsForm()"
      >
      </select>

      <select
        id="readingLanguage"
        aria-label="Reading Language"
        onchange="submitSettingsForm()"
      >
      </select>
    </form>
  </div>
</div>

<hr />
