html,
body {
  color: #fff;
  background-color: #252830;
  font-family: sans-serif;
}

body {
  max-width: 850px;
}

pre,
iframe {
  background-color: #1f1f1f;
  border-radius: 10px;
  border: none;
  border-top: 4px solid #654ff0;
  padding: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

iframe {
  background-color: #fff;
}

select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23654ff0%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #888;
}
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #654ff0;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
select option {
  font-weight: normal;
}

hr {
  border: 0;
  height: 5px;
  margin: 4rem 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#9671fd),
    to(#654ff0)
  );
  background-image: linear-gradient(to right, #9671fd, #654ff0);
  border-radius: 5px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

a:hover {
  color: #654ff0;
  text-decoration: none;
  border-bottom: 1px solid #654ff0;
}

.title {
  text-decoration: none;
  border-bottom: 0px;
}

.title h1 {
  font-size: 1.8em;
}

.language-title {
  font-size: 1.35em;
}

.language-picker form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.language-picker form > * {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flex-row > *,
.flex-column > * {
  margin: 5px;
}

footer .flex-row > * {
  margin: 0px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

span.hljs-comment {
  color: #a69685 !important;
}

code,
.highlight {
  background-color: #654ff0;
  padding: 2px 10px;
  color: #fff;
  letter-spacing: -0.5px;
}
