html,
body {
  color: #fff;
  background-color: #242424;
  font-family: sans-serif;
}

body {
  max-width: 850px;
}

pre {
  border: 2px solid #424242;
  background-color: #202020;
}

iframe {
  background-color: #fff;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #fff;
  border-bottom: 0px solid #fff;
}

.title {
  text-decoration: none;
}

.language-title {
  font-size: 1.35em;
}

.language-picker form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.language-picker form > * {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flex-row > *,
.flex-column > * {
  margin: 5px;
}

footer .flex-row > * {
  margin: 0px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

span.hljs-comment {
  color: #a69685 !important;
}
